footer {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.footer__logo {
  grid-area: logo;
  display: block;
  float: left;
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "Abril Fatface", cursive;
  color: whitesmoke;
  padding: 20px 20px 20px 20px;
}

.footer__link1 {
  grid-area: link1;
  align-self: center;
}

.footer__link2 {
  grid-area: link2;
  align-self: center;
}

.footer__link3 {
  grid-area: link3;
  align-self: center;
}
.footer__social {
  grid-area: social;
  align-self: center;
}

.footer__copyright {
  background: #270a33;
  grid-column: 1/6;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  height: auto;
  padding-left: 20px;
  grid-area: copyright;
}

.container_footer {
  padding: 0;
  width: 100%;
  background: #270a33;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "logo link1 link2 link3 social"
    "copyright copyright copyright copyright copyright";
  color: whitesmoke;
  padding: 0.5rem 1rem;
}
.container_footer a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 22px;
  padding: 20px 10px 20px 10px;
}

@media screen and (max-width: 700px) {
  .container_footer {
    color: whitesmoke;
    display: grid;
    width: 100%;
    grid-template-areas:
      "logo"
      "link1"
      "link2"
      "link3"
      "social"
      "copyright";
    grid-template-rows: 32% 10% 10% 10% 30% 8%;
    text-align: center;
  }

  .container_footer a {
    text-decoration: none;
    font-size: 22px;
  }
  .footer__copyright {
    font-size: 12px;
    text-align: center;
    height: 40px;
  }
}
