body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }

/*navbar css */
.navbar{
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    position:sticky;    /*sticky header*/
    top:0;              /*sticky header*/
}

.navbar_logo{
   display: block;
   float:left;
   font-size: 20px; 
   color: blue;
   margin: 5px;
   letter-spacing: 3px; 
}

.navbar__item{
    display: block;
    float : right;
    padding: 10px;
    text-decoration: none;    
}
/*navbar anchor -To remove the underline from all hyperlinks on a page*/
.navbar__item a {
    text-decoration: none;    
    color: black;
}

/* link colorr*/
.navbar__item a:hover {
    color: #f1f1f1;
  }

/* */
.content{
    background-color:#fff;
}

  