body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }

/*navbar css */
.navbar{
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    position:sticky;    /*sticky header*/
    top:0;              /*sticky header*/
    padding: 10px  10px;
    text-align: center     /*Center-align text*/         
}

.navbar_logo{
   display: block;
   float:left;
   font-size: 25px; 
   color: blue;
   margin: 5px;
   letter-spacing: 3px;
   font-family: 'Abril Fatface', cursive;
}

.navbar__item{
    display: block;
    float : right;
    padding: 10px;
    font-size: 20px;
    padding-left:40px;
    padding-right: 40px;
    text-decoration: none;    
}
/*navbar anchor -To remove the underline from all hyperlinks on a page*/
.navbar__item a {
    text-decoration: none;    
    color: black;
}

/* link colorr*/
.navbar__item a:hover {
    color: #f1f1f1;
  }
/*topnav - responsive*/
/*menu icon or Hamburger button*/
.navbar .icon {
  display: none;
  font-size:25px;
}
@media screen and (max-width: 600px) {
  .navbar li:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size:25px;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* */
.content{
    background-color:#fff;
}

  